{% extends 'base.html' %}

{% block head %}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/card.css') }}"
/>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row back-container">
        <input type="button" name="back" class="back action-button" value="Back to Home" onclick="location.href=`/`;"/>
        <input type="button" name="back" class="back action-button" value="Back to Search" onclick="location.href=`/cards`;"/>
    </div>
    <div class="row justify-content-center">
        <div class="card-container">
            <h1>Popular cards of <span>{{class_name}}</span> class, <span>{{type}}</span> type and <span>{{rarity}}</span> rarity</h1>
            <p>The cards are ordered from most popular to least popular.</p>
            <p>If a card is used in a top deck, it's more popular than others.</p>
            <ul class="cards">
                {% if cards|length == 0 %}
                    <h2>There is no cards under this category.</h2>
                {% endif %}
                {% for card in cards %}
                <li class="cards-item">
                    <div class="card">
                        <div class="card-image" onclick={{ "location.href='/cards/"+(card.class.replace(" ", ""))+"/"+card.cardType+"/"+card.rarity+"/%d';" % card.id }}><img src={{ card.image }}></div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
