{% extends 'base.html' %}

{% block head %}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/deck_detail.css') }}"
/>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row back-container">
        <input type="button" name="back" class="back action-button" value="Back to Home" onclick="location.href=`/`;"/>
        <input type="button" name="back" class="back action-button" value="Back to Search" onclick="location.href=`/decks`;"/>
        <input type="button" name="back" class="back action-button" value="Back to List" onclick="window.history.go(-1); return false;"/>
    </div>
    <div class="row justify-content-center">
        <div class="card-container">
            <h1>{{ deck.metaDeck }}</h1>
            <p>format: {{ deck.format }}, class: {{ deck.class }}, type: {{ deck.type }}, season: {{ deck.season }}, style: {{ deck.style }}</p>
            <p>hero: {{ deck.hero.name }}</p>
            <p>hero power: {{ deck.heroPower.name }} - {{ deck.heroPower.text|safe }}</p>
            <div class="cards">
                {% for card in deck.cards %}
                <div class="card shadow-1">
                    <div class="manaCost"><h2>{{ card.manaCost }}</h2></div>
                    <div class="card-img">
                        <img src={{ card.cropImage }} alt={{ card.name }}>
                        <div class="overlay"><h2>{{ card.name }}</h2></div>
                    </div>
                    {% if card.rarity == "Common" or card.rarity == "Free" %}
                    <div class="rarity common"></div>
                    {% elif card.rarity == "Rare" %}
                    <div class="rarity rare"></div>
                    {% elif card.rarity == "Epic" %}
                    <div class="rarity epic"></div>
                    {% else %}
                    <div class="rarity legendary"></div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
