{% extends 'base.html' %}

{% block head %}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/deck.css') }}"
/>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="card">
            <h1>Top decks of <span>{{format}}</span> format and <span>{{class_name}}</span> class</h1>
            <table
                id="table"
                data-toggle="table"
                data-search="true"
                data-filter-control="true"
                class="table-bordered"
            >
                <thead>
                    <tr>
                        <th data-field="index"></th>
                        <th
                            data-field="type"
                            data-filter-control="select"
                        >
                            Type
                        </th>
                        <th
                            data-field="season"
                            data-filter-control="select"
                        >
                            Season
                        </th>
                        <th
                            data-field="style"
                            data-filter-control="select"
                        >
                            Style
                        </th>
                        <th
                            data-field="metaDeck"
                            data-filter-control="select"
                        >
                            Meta Deck
                        </th>
                        <th
                            data-field="action"
                        >
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for deck in decks %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{deck.type}}</td>
                        <td>{{deck.season}}</td>
                        <td>{{deck.style}}</td>
                        <td>{{deck.metaDeck}}</td>
                        <td>
                            <input
                            type="button"
                            name="next"
                            class="action-button"
                            value="Detail"
                            onclick={{ "location.href='/decks/"+deck.format+"/"+(deck.class.replace(" ",""))+"/%d';" % deck.id }}
                            />
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"
></script>
<script src="https://unpkg.com/bootstrap-table@1.21.4/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.21.4/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
{% endblock %}
