*,
*::before,
*::after {
    box-sizing: border-box;
}

h1, h2 {
    color: var(--highlight-text-color);
}

h1 {
    margin-bottom: 20px;
}

h1 span {
    font-style: italic;
    color: var(--decorate-color);
}

p {
    color: var(--weak-text-color)
}

div {
    color: var(--secondary-text-color)
}

div span {
    font-style: italic;
    color: var(--decorate-color);
}

ul {
    color: var(--highlight-text-color);
    font-weight: 500;
}

ul span {
    font-style: normal;
    color: var(--secondary-text-color);
    font-weight: 300;
}

.card-container {
    z-index: 0;
    border: none;
    position: relative;
    background-color: var(--secondary-bg-color);
    padding: 24px 15px !important;
    margin: 24px 15px !important;
}


img {
    height: auto;
    max-width: 290px;
    vertical-align: middle;
    mix-blend-mode: multiply;
}

@media (min-width: 800px) {
    .cards-item {
        width: 33.33%;
    }
}

@media (min-width: 1200px) {
    .cards-item {
        width: 20%;
    }
}

.card-outer {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.card {
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    min-width: 290px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: transform 0.2s ease-out;
}

.card:hover {
    transform: scale(1.1);
}